body {
    background-color: #E0D6C5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #473515;
}

a:link {
    color: #473515;
}

span[title] {
    text-decoration: 1px underline dotted;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-column {
    max-width: 40em;
    text-align: center;
}
